*{
    margin: 0;
    padding: 0;

}

.conteiner{
    width: 1200px;
    margin: 0 auto;
}

.main-header{
    background-image: url("../img/img/pattern.png");
    height: 150px;
    background-color: blue;
    margin: 0 auto;
    width: 1200px;
    /* cambiare colore alla fine */

}

#logo-title{
    width: 250px;
    line-height: 150px;
    vertical-align:middle;
    /* margin-left: 5px;
    margin-top: 80px; */
}


/* .article{
    margin-top: 10px;
    margin-left: 10px;
} */

h1{
    font-size:40px;
}

.article-address{
    color: grey;
}

.text-author a{
    color: blue;
    text-decoration: none;
}

/* .img-tim{
    width: 100%;
}
.tim img{
    width: 45%;
    height: 500px;
} */

.resource-img{
    margin-bottom: 20px;
    font-size: 12px;
}

.lorem, .ul li{
    font-size: 20px;
 
}

.ul{
    list-style-position: inside;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.tabella{
   border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

.wh-50{
    width: 50%;
}

.thead-title{
    color: white;
    background-color: blue
}

.style-row{
    background-color:aqua;
}

.aside-foot{
    margin-top: 20px;
}


