/* GENERICS */
*{
    margin: 0;
    padding: 0;
}
/* CONTENITORE */
.conteiner{
    margin-left: 5px;
}
/* HEADER */
.main-header{
    background-image: url("../img/img/pattern.png");
    height: 150px;
    background-color:#4EA0FF;
    line-height: 150px;
}
/* ARTICLE */
#logo-title{
    width: 250px;
    vertical-align:middle;
}

h1.article-title{
    font-size:40px;
}

.article-address{
    color: grey;
}

.text-author a{
    color: #29ACE6;
    text-decoration: none;
}
/* FIGURE IMG */
.resource-img{
    margin-bottom: 20px;
    font-size: 12px;
}
/* PARAGRAFI.LOREM + UL */
.lorem, .ul li{
    font-size: 20px;
}

.ul{
    list-style-position: inside;
    margin-top: 20px;
    margin-bottom: 20px;
} 
/* TABELLA */
.tabella{
   border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

.wh-50{
    width: 50%;
}

.thead-title{
    color: white;
    background-color: #B1E5F2;
}

.style-row{
    background-color:#B1E5F2;
}
/* ASIDE FOOT */
.aside-foot{
    margin-top: 20px;
    color: #757575;
}

.aside-foot div{
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

.graph{
    background-image: url("../img/img/graph.jpg");
}

.monitor{
    background-image: url("../img/img/monitor.jpg");
}